* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.heading {
    text-align: center;
    padding: 50px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 5vh;
}

.left {
    border: 5px solid rgb(64, 180, 226);
    border-radius: 10px 0px 0px 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 130px 50px 130px 50px;
}

.left>p {
    padding-top: 66px;
    font-size: xx-large;
}

.right {
    border: 5px solid rgb(64, 180, 226);
    border-radius: 0px 10px 10px 0px;
    padding: 130px 95px 130px 95px;
}

.right>p {
    padding-top: 66px;
    font-size: xx-large;
}

@media screen and (max-width:480px) {
    .left {
        padding: 20px 50px 20px 50px;
        border-radius: 10px 10px 0px 0px;
        flex-wrap: wrap;
        flex-basis: 80%;
        /* box-sizing: border-box; */
        /* min-width: 300px;
        min-height: 20px; */
    }
    .right {
        padding: 20px 50px 20px 50px;
        flex-wrap: wrap;
        border-radius: 0px 0px 10px 10px;
        flex-basis: 80%;
    }
}

;